{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<!-- Offer Conversion: CurcumaV2 - CPA - [FR] WEB/WAP -->
<iframe src="https://reflexcash.go2cloud.org/aff_l?offer_id=22318" scrolling="no" frameborder="0" width="1"
  height="1"></iframe>
<!-- // End Offer Conversion -->
  <div class="container mx-auto py-8">
    <div class="w-full md:w-2/3 mx-auto">
      <h2 class="text-3xl font-bold mb-6">Conditions Générales de Vente</h2>

      <p>Les présentes Conditions Générales de Vente régissent l'utilisation du Site Internet BattleOffice.com. En utilisant notre site et en passant commande, vous acceptez ces Conditions Générales de Vente et les Conditions d'Utilisation du Site Internet.</p>

      <h3 class="text-2xl font-bold mt-8">1. Informations sur le site</h3>

      <p>BattleOffice.com est un site e-commerce proposant la vente de biens et services pour le jeu. Le site appartient à la société Polo&Reno Corp, SASU au capital social de 10€, immatriculée au RCS de Paris sous le numéro 123456789, et ayant son siège social à Roanne, France.</p>

      <h3 class="text-2xl font-bold mt-8">2. Commandes</h3>

      <p>Les commandes passées sur BattleOffice.com sont soumises à notre acceptation. Nous nous réservons le droit de refuser toute commande pour quelque raison que ce soit, sans préavis.</p>

      <p>Le client est considéré comme ayant passé commande une fois que le règlement a été effectué en totalité et que la confirmation de commande apparaît sur la page de confirmation.</p>

      <h3 class="text-2xl font-bold mt-8">3. Prix</h3>

      <p>Les prix indiqués sur le Site Internet incluent la TVA applicable et sont exprimés en euros. Nous nous réservons le droit de modifier les prix à tout moment, sans préavis. Toutefois, le prix facturé pour une commande sera celui que vous avez accepté au moment de la passation de votre commande.</p>

      <h3 class="text-2xl font-bold mt-8">4. Paiement</h3>

      <p>Les paiements peuvent être effectués par carte bancaire, PayPal ou tout autre moyen de paiement indiqué sur le Site Internet. Les données de paiement sont cryptées pour garantir la sécurité de vos informations.</p>

      <p>Lorsque vous effectuez un paiement, vous garantissez que vous êtes autorisé à utiliser le moyen de paiement utilisé. Nous nous réservons le droit de refuser un paiement ou une commande pour quelque raison que ce soit, sans préavis.</p>

      <h3 class="text-2xl font-bold mt-8">5. Livraison</h3>

      <p>Les délais de livraison indiqués sur le Site Internet sont donnés à titre indicatif. Nous nous efforçons de livrer les commandes dans les délais indiqués, mais nous ne garantissons pas que les délais de livraison seront respectés. Tout retard de livraison n'entraînera pas d'indemnité ou d'annulation de la commande, sauf en cas de force majeure.</p>

      <p>Les frais de livraison sont indiqués lors du processus de commande et peuvent varier en fonction de la destination et du montant de la commande.</p>

      <h3 class="text-2xl font-bold mt-8">6. Droit de rétractation</h3>

      <p>Le client a le droit de se rétracter de son achat dans un délai de 14 jours à compter de la réception de la commande. Les frais de retour sont à la charge du client.</p>

      <p>Les produits retournés doivent être dans leur état d'origine et accompagnés d'une copie de la facture. Nous rembourserons le prix d'achat dans un délai maximum de 14 jours après la réception des produits retournés.</p>

      <h3 class="text-2xl font-bold mt-8">7. Litiges</h3>

      <p>Le présent contrat est soumis au droit français. Tout litige relatif à l'interprétation, l'exécution ou la résiliation du contrat sera soumis à la compétence exclusive des tribunaux compétents.</p>

      <h3 class="text-2xl font-bold mt-8">8. Protection des données</h3>

      <p>Nous veillons à protéger vos données personnelles conformément à notre Politique de Confidentialité. En utilisant notre site, vous acceptez le traitement de vos données personnelles tel que décrit dans cette Politique de Confidentialité.</p>

      <h3 class="text-2xl font-bold mt-8">9. Modification des conditions générales de vente</h3>

      <p>Nous nous réservons le droit de modifier ces Conditions Générales de Vente à tout moment. Vous êtes soumis aux Conditions Générales de Vente en vigueur au moment de votre commande. Toutefois, toute modification des Conditions Générales de Vente ne s'appliquera pas aux commandes que vous avez passées avant la date de modification.</p>
    </div>
  </div>
{% endblock %}