<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BattleOffice, petites guerres entre amis - Vente privée de jouets Nerfs Elite</title>

        <link  rel="icon" type="image/x-icon" href="favicon.png" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main_new.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <style>

    </style>
        <div class="navbar">
            <nav style="background-color: #262626 !important">
                <div class="nav-wrapper">
                    <div class="row">
                        <div class="col s12 m6">
                            <a href="{{ path("landing_page") }}" class="brand-logo">BattleOffice</a>
                        </div>

                        <div class="col s12 m6">
                            <div class="picto-nav">
                                <i class="fas fa-shipping-fast"></i>
                                <span>Livraison gratuite</span>
                                Pour toute commande !
                            </div>
                            <div class="picto-nav">
                                <i class="fas fa-grin"></i>
                                <span>Garantie 100% Satisfait</span>
                                Ou remboursé !
                            </div>
                        </div>
                    </div>

                </div>
            </nav>
        </div>

        <main class="page">
            {% block body %}{% endblock %}
        </main>

        <footer class="page-footer dark-theme" style="width: 100%; z-index: 9999; background-color: #262626 !important;">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4">
                        <h5 class="white-text center-align">POUR VOTRE SANTÉ, PRATIQUEZ UNE ACTIVITÉ PHYSIQUE RÉGULIÈRE</h5>
                        <p class="white-text center-align">
                            BattleOffice ne garantit pas la paix dans les bureaux et open-spaces. Il est déconseillé d'utiliser nos produits dans des espaces publics.
                        </p>
                    </div>
                    <div class="col s12 m6 l4 offset-l4">
                        <h5 class="white-text center-align">Liens utiles</h5>
                        <ul class="footer-links">
                            <li><a href="#" class="white-text">Accueil</a></li>
                            <li><a href="#" class="white-text">Produits</a></li>
                            <li><a href="#" class="white-text">Commandes</a></li>
                            <li><a href="#" class="white-text">Contactez-nous</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <p class="white-text center-align">© 2020 Tous droits réservés BattleOffice</p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="assets/js/materialize.js"></script>
        <script src="assets/js/main.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
